/*count down font */
@font-face {
    font-family: 'digital-7';
    src: url('assets/fonts/digital-7.ttf');
}

html, body {
    height: 100%;
}

/* --- FONT STYLES --- */
/*primary display font*/
.display-1 {
    margin-top: 180px;
    font-family: 'Chewy', 'cursive';
    text-align: center;
    font-size: 7vw;
}
#top-caption {
    margin-top: 0; 
    margin-bottom: 0; 
    color: #F5F5DC; 
    font-size: 6vw;
}
#bottom-caption {
    margin-top: 0; 
    margin-bottom: 0; 
    color: #F5F5DC; 
    font-size: 6vw; 
    margin-bottom: 5vh;
}
/*Day: e.g. FRIDAY */
.dayOfWeek {
    font-weight: bold;
    color: #ffdf00;
    font-size: 11vw;
}
.dayOfWeek-sm {
    font-size: 6vw; 
    -webkit-text-stroke: 1px rgb(194, 150, 5);
}


/*header */
.jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #F5F5DC;
    background-image: url(../images/sunset-2.jpg);
    background-position: 5%;
    background-size: cover;
    -webkit-text-stroke: 2px rgb(194, 150, 5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.699);
    z-index: 1;

}

/* Countbox Theme */
#countbox {
    background-color: #ca400973;
    padding: 5% 5% 5% 5%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

/*Digit Theme*/
.digitBox {
    font-family: 'digital-7', sans-serif;
    font-size: 8vw;
    color: #F5F5DC;
    text-align: center;
    padding: 0% 0%;


}

/*Label Theme*/
.labelBox {
    color: #F5F5DC;
    text-align: center;
    font-size: 2vw;
    padding: 0% 0%;
}

/*digit + label wrapper */
.wrapperBox {
    justify-content: center;
}


/* Background image: e.g. background-image: url(assets/images/midnight.png); */
#background {
    background-image: url(../images/desert-2.jpg);
    background-size: cover;
    min-height: 100%;
}

/* Align contents center */
.main {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
}

/*Nav*/
.nav {
    position: absolute; 
    top: 2vh;
    left: 2vw;
    color: #F5F5DC;
}
.nav-item {
    margin: 0 1vw;
}
#nav-title {
    margin-right: 1vw
}

/*image*/
.img-fluid {
    max-width: 80%; 
    border: outset #ca4009 5px; 
    margin-bottom: 10vh;
}


